version: "3.7"

services:
  # Node.js app
  app:
    container_name: app-node-template # Name of your application, stay here
    build:
      context: .
      dockerfile: Dockerfile # If you already have a Dockerfile for your Node.js application, use it here
    ports:
      - "3000:3000" # 
    environment: # Application environment variables, use it here
      - NODE_ENV=production
      - DB_CLIENT=pg
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_DATABASE=todolist # Your database is here
    volumes:
      - .:/var/www/app
    working_dir: /var/www/app
    networks:
      - node-postgres

  # PostgreSQL
  postgres:
    container_name: postgres
    image: postgres:latest
    restart: unless-stopped
    environment:
      POSTGRES_DB: todolist # Your database is here
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - ./postgres-data:/var/lib/postgresql/data # Persistence of database data, will be created in your application
    ports:
      - "5432:5432"
    networks:
      - node-postgres

networks:
  node-postgres:
    driver: bridge